.flex-container{
  height: 100vh;
  display: flex;

  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  flex-wrap: wrap;
  align-content: flex-start;
}

.myDiv {
  background-color: lightcoral;
  width: 350px;

  /*flex-basis: 300px;*/
  /*flex-grow: 1;*/
  /*flex-shrink: 2;*/

  /*flex: 1 2 300px;*/
}

.myText {
  background-color: lightskyblue;
  max-width: 500px;

  /*flex-shrink: 5;*/
}

.mySpan {
  background-color: rgb(135, 250, 141);
  width: 300px;
}

.myImg {
  width: 250px;
}

/*.wrapper{*/
/*  height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

/*header{*/
/*  background-color: rgb(135, 250, 141);*/

/*  height: 100px;*/
/*}*/
/*main{*/
/*  background-color: lightcoral;*/
/*  flex-grow: 1;*/
/*}*/
/*footer{*/
/*  background-color: lightskyblue;*/

/*  height: 50px;*/
/*}*/