.flex-container{
  height: 100vh;
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.myDiv {
  background-color: lightcoral;
  height: 50px;
}

.myText {
  background-color: lightskyblue;
  max-width: 500px;
}

.mySpan {
  background-color: rgb(135, 250, 141);
}

.myImg {
  height: 150px;

  align-self: flex-end;
}